body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0%;
}
/* ---------------------------------------Bannar-------------------------------------- */
.bannar {
    display: flex;
    background-color: rgb(64, 64, 243);
    height: auto;
    margin-bottom: 0;
    padding-bottom: 100px;
}
.bannarimg img {
    width: 556px;
    margin-left: 64px;
    margin-top: 128px;
}
.title h2 {
    margin-left: 155px;
    font-size: 64px;
    margin-top: 207px;
    color: white;
    margin-bottom: 31px;
}
button {
    background-color: #E02C6D;
    width: 148px;
    height: 44px;
    color: whitesmoke;
    margin-left: 156px;
    margin-top: -5px;
}

/* 
------------------------------------------Players section--------------------------- */

.players {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0px 66px;
}
.player {
    width: 300px;
    margin-top: 100px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 13px #434c4366;
}
.player img{
    width: 100%;
}

/* Hightlight section */


.highlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 87px;
    margin-top: 150px;
}
.highlightleft{

}
.highlightleft h1 {
    font-size: 53px;
    margin-bottom: 0;
    
}
.highlightleft p {
    font-size: 16px;
    margin-right: 100px;
}

#btnh {
    margin: 37px 0px;
    width: 180px;
    border: 0px;
    box-shadow: 0 0 10px #80808061;
    border-radius: 5px;
}
#btnh:hover{
    border: 2px solid grey;
}

.highlightimg img{
    width: 100%;
}
.imgh{

}

/* footer */

.footballimg {
    display: flex;
    justify-content: center;
}
.footballimg img {
    width: 450px;
    margin: 150px 0px 0px 0px;
}
.icons {
    display: flex;
    justify-content: center;
    margin: 24px 0px 0px 0px;
}
.icons i {
    padding: 12px;
    margin: 0px 9px;
}
.fa-bg {
    background: #80808066;
    border-radius: 100%;
}
.copy {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
}




/* media query  */
@media only screen and (max-width: 480px){
    .bannar {
        display: flex;
        flex-direction: column;
    }
    .bannarimg img {
        width: 291px;
    }
    .title h2 {
        font-size: 30px;
        margin-left: 109px;
    }
    .title button {
        margin-left: 107px;
    }
    .players {
        display: flex;
        flex-direction: column;
    }
    .player {
        width: 260px;
        margin-left: -23px;
        text-align: start;
    }
    .highlight {
        margin: 45px;
        display: flex;
        flex-direction: column;
    }
    .highlightleft{

    }
    .highlightleft h1{

    }
    .highlightleft p{

    }
    #btnh{

    }
    .highlightimg{

    }
    .imgh{
        
    }
    .footballimg img {
        width: 278px;
        margin: 0;
    }
    .footballimg img{

    }
    
}